<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>12688442984458607840</string>
		<key>run_input_hash</key>
		<string>9957842402543473726</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>95352</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
