<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>766984782636751126</string>
		<key>run_input_hash</key>
		<string>9486414571672556756</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>45455</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
