<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>14599661009002395635</string>
		<key>run_input_hash</key>
		<string>10868690413200015738</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>35923</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
