<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>12600828512900094318</string>
		<key>run_input_hash</key>
		<string>111321559020396782</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>47616</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
