<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>11435531369228969136</string>
		<key>run_input_hash</key>
		<string>16883727856170256351</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>14224</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
