<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>10698062967250415115</string>
		<key>run_input_hash</key>
		<string>17449927105420499018</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>51666</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
