<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>4628647625254406582</string>
		<key>run_input_hash</key>
		<string>17585392000716876334</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>75977</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
