<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>14336540340706437392</string>
		<key>run_input_hash</key>
		<string>1392773552227295832</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>31869</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
