<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>2997523405957267027</string>
		<key>run_input_hash</key>
		<string>17429816432418011341</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>77801</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
