<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>10351628973107045467</string>
		<key>run_input_hash</key>
		<string>464967774541056726</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>42222</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
