<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>15012007198482690746</string>
		<key>run_input_hash</key>
		<string>17430874877166694289</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>39760</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
