<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>3455281741747211550</string>
		<key>run_input_hash</key>
		<string>10591126076518031556</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>9524</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
