<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>16098820941601766229</string>
		<key>run_input_hash</key>
		<string>5541102970297834719</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>23018</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
