<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>5847424613190683212</string>
		<key>run_input_hash</key>
		<string>18277431889095113856</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>16740</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
