<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>17139508558018631908</string>
		<key>run_input_hash</key>
		<string>4351981450818465995</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>28837</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
