<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>7116253200067609054</string>
		<key>run_input_hash</key>
		<string>14424514722318559305</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>21648</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
