<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>489008890075342218</string>
		<key>run_input_hash</key>
		<string>13092451213888820197</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>55859</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
