<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>14646584060777278746</string>
		<key>run_input_hash</key>
		<string>2524967263323996947</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>95465</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
