<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>1988074767031667925</string>
		<key>run_input_hash</key>
		<string>5294378273820223268</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>43877</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
