<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>2022490252789507071</string>
		<key>run_input_hash</key>
		<string>16005616990518295850</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>34985</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
