<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>16639354544894066964</string>
		<key>run_input_hash</key>
		<string>17593255430222671930</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>93434</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
