<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>11793868039216906919</string>
		<key>run_input_hash</key>
		<string>3555739723512991461</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>37990</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
