<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>1591179059029793192</string>
		<key>run_input_hash</key>
		<string>16138096159714310227</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>17233</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
