<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>11359318424492792927</string>
		<key>run_input_hash</key>
		<string>1215277031840741056</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>14989</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
