<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>462853714511326405</string>
		<key>run_input_hash</key>
		<string>14128657187947948802</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>86913</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
