<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>6155103099530218309</string>
		<key>run_input_hash</key>
		<string>3041292995305396194</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>74713</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
