<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>13979304318397475424</string>
		<key>run_input_hash</key>
		<string>10977409626826025813</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>72627</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
