<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>1040873313865371058</string>
		<key>run_input_hash</key>
		<string>9873136522329428421</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>97290</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
