<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>8121189411912759566</string>
		<key>run_input_hash</key>
		<string>11404912536246110894</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>92818</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
