<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>4018445088968352176</string>
		<key>run_input_hash</key>
		<string>13227603594370714753</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>62934</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
