<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>10683732439588843070</string>
		<key>run_input_hash</key>
		<string>6830460032810738061</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>77653</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
