<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>15128448899498907466</string>
		<key>run_input_hash</key>
		<string>10934675080049184263</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>3858</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
