<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>6075195545234138210</string>
		<key>run_input_hash</key>
		<string>3039712259321126478</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>81258</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
