<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>444344601483411543</string>
		<key>run_input_hash</key>
		<string>12097784555142601320</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>79500</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
