<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>5001067693608269155</string>
		<key>run_input_hash</key>
		<string>7718569268797463610</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>74822</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
