<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>3570294109766769391</string>
		<key>run_input_hash</key>
		<string>9836273254848380361</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>2742</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
