<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>7634553020866521235</string>
		<key>run_input_hash</key>
		<string>17392205451944974110</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>21738</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
