<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>2932946788228167935</string>
		<key>run_input_hash</key>
		<string>3220767335644736437</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>53818</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
