<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>1578781418810056124</string>
		<key>run_input_hash</key>
		<string>8112417278177677184</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>82878</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
