<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>17026111200965350972</string>
		<key>run_input_hash</key>
		<string>3467159617948300827</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>97039</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
