<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>11519961776836010046</string>
		<key>run_input_hash</key>
		<string>17504656285984881750</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>55744</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
