<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>6923366995776551811</string>
		<key>run_input_hash</key>
		<string>14190292656204908412</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>80942</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
