<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>15913783361266846960</string>
		<key>run_input_hash</key>
		<string>6364281801292601598</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>51930</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
