<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>8714033349467993755</string>
		<key>run_input_hash</key>
		<string>11596696406513174575</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>57944</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
